@model SportEvents.Models.HomeEventViewModel

@{
    ViewBag.Title = "Event";
}

<h2>@Model.Događaj.Sport.naziv</h2>
<h2>@Model.Događaj.Mjesto.naziv</h2>
<h2>@Model.Događaj.Mjesto.kapacitet</h2>
<h2>@Model.Događaj.posjetitelji</h2>
<h2>@Model.Događaj.datum</h2>
<h2>@Model.Događaj.cijena</h2>